# dependencies
node_modules
node_modules_broken

# build output
dist
dev-dist

# testing / coverage
coverage

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.local

# env
.env
.env.local
